/* style.css */

* {
  /* --main--color: #2C3E50; Azul Marinho */
  --main--color:#fff;
  /* --secundary--color: #34495E; Cinza Carvão */
  --secundary--color:#fff;
  --main--button--color: #1ABC9C; /* Verde Esmeralda */
  --main--hover--button--color: #FC8019; /* Verde Escuro */
  --accent--color: #F39C12; /* Amarelo Ouro */
  --background--color: #ECF0F1; /* Cinza Claro */
  --text--color: #FFFFFF; /* Branco */
  --hover--text--color: #d9dede; /* Cinza Escuro */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: var(--background--color);
}
.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 100px;
    background-color: var(--secundary--color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar button {
    margin-bottom: 20px;
    padding: 20px;
    background-color: none;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
   
}

.sidebar button:hover {
    background-color: var(--main--hover--button--color);
    color: var(--hover--text--color);
}
.sidebar button .bx{
 font-size: 15pt;
}
.sidebar button:first-child{
    background-color: var(--main--hover--button--color);
    color: #fff;
}
.sidebar button:last-child{
    margin-top: 80%;
    background-color: red;
    color: white;
}
.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header h1{
    margin: 0;
    margin-right: 20px;
}
.header input{
    padding: 10px;
    border-radius: 6px;
    width: 300px;
    border: 1px solid #ddd;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--main--color);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.menu-btn {
    margin-right: 10px;
    padding: 10px;
    background-color: var(--main--button--color);
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    color: var(--text--color);
    height: 50px;
}

.menu-btn:hover {
    background-color: var(--main--hover--button--color);
    color: var(--hover--text--color);
}
.menu-btn:focus{
    border: 1px solid var(--main--hover--button--color);
}

.content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.items {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    overflow-y: auto;
    background-color: var(--background--color);
    flex-grow: 1;
    width: 80%;
}

.item {
    width:200px;
    height: 200px;
    margin: 10px;
    /* padding: 10px; */
    background-color: var(--text--color);
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

.item:hover {
    background-color: #f7f7f7;
}

.item img {
    width: 100%;
    height: 100px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;

}

.cart {
    background-color: var(--text--color);
    padding: 10px;
    border-left: 1px solid #ddd;
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

#cart-items {
    overflow-y: scroll;
}

.cart h2 {
    margin-top: 0;
}

.cart-total {
    margin-top: auto;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.cart-total div {
    margin-bottom: 10px;
}

#hold-cart, #proceed {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

#hold-cart {
    background-color: #F97316; /* Laranja */
}

#hold-cart:hover, #proceed:hover {
    opacity: 0.8;
}
