* {
  /* --main--color: #2C3E50; Azul Marinho */
  --main--color:#fff;
  /* --secundary--color: #34495E; Cinza Carvão */
  --secundary--color:#fff;
  --main--button--color: #1ABC9C; /* Verde Esmeralda */
  --main--hover--button--color: #FC8019; /* Verde Escuro */
  --accent--color: #F39C12; /* Amarelo Ouro */
  --background--color: #ECF0F1; /* Cinza Claro */
  --text--color: #FFFFFF; /* Branco */
  --hover--text--color: #d9dede; /* Cinza Escuro */
  margin: 0;
  padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: var(--background--color);
}
.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 100px;
    background-color: var(--secundary--color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar button {
    margin-bottom: 20px;
    padding: 20px;
    background-color: none;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
   
}
.sidebar .active {
    background-color:var(--main--hover--button--color); 
    color: white; 
}
.sidebar button:hover {
    background-color: var(--main--hover--button--color);
    color: var(--main--color);
}
.sidebar button .bx{
 font-size: 15pt;
}
.sidebar button:last-child{
    margin-top: 80%;
    background-color: red;
    color: white;
}
.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
/* Estilos para o Modal */
.modal {
  display: none; /* Por padrão, o modal está escondido */
  position: fixed; /* Fica na mesma posição, mesmo se a página rolar */
  z-index: 1; /* Deixa o modal acima de outros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Tamanho completo */
  height: 100%; /* Tamanho completo */
  overflow-y: scroll; /* Habilita rolagem se necessário */
  background-color: rgb(0,0,0); /* Fundo preto com transparência */
  background-color: rgba(0,0,0,0.4); /* Fundo preto com transparência */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Posiciona o modal no centro */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Largura do modal */
  border-radius: 10px;

}

.modal-content .adicionar_cliente_fatura_form{
    width: 80%;
    height:90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.modal-content .adicionar_cliente_fatura_form input{
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background: none;
}
.modal .adicionar_cliente_fatura_form label{
    display: block;
    margin-top: 20px;
}
.modal-content .adicionar_cliente_fatura_form button {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--main--button--color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.modal-content .adicionar_cliente_fatura_form button:hover{
    background: var(--main--hover--button--color);
}
.buscar_cliente_fatura_form{
  width: 80%;
    height:90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.buscar_cliente_fatura_form input{
  width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background: none;
}
.modal-content .buscar_cliente_fatura_form button {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--main--button--color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.modal-content .adicionar_cliente_fatura_form button:hover{
    background: var(--main--hover--button--color);
}
#search-results {
  margin-top: 20px;
}

#search-results p {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.header h1{
    margin: 0;
    margin-right: 20px;
}
.header img{
  width: 100px;
  margin: 0;
}
.header input[type="search"]{
    padding: 10px;
    border-radius: 6px;
    width: 300px;
    border: 1px solid #ddd;
   
}
.header .search_container{
    margin-right: auto;
}
.header .search_container button{
    background: #fff; 
  color: #111; /* Cor do texto */
  border: none; /* Remove a borda padrão */
  padding: 10px 15px; /* Padding interno */
  text-align: center; /* Centraliza o texto */
  text-decoration: none; /* Remove sublinhado do texto */
  display: inline-block;
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  border-radius: 12px; /* Bordas arredondadas */
  transition-duration: 0.4s; /* Transição suave para hover */
}
.header .search_container button i{
    text-align: center;
     margin-right: 5px;
}

.header .search_container button:hover {
  background: var(--main--button--color);
  color: var(--main--color);
}
.header .wireless_widget{
    color: var(--main--button--color);
    background: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    margin-right:3%;
    width: 5%;
}

.header .wireless_widget:hover{
    background: var(--main--button--color);
    color: var(--main--color);
    border-radius: 5px;
}
.menu {
  background-color: var(--main--color);
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.menu-content {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
}

.menu-btn  {
  flex: 0 0 auto;
  margin: 10px;
  padding: 7px;
  background-color: var(--main--button--color);
  border: none;
  cursor: pointer;
  text-align: center;
  color: var(--text--color);
  border-radius: 10px;
  height: 20px;
}

.menu-btn:hover {
    background-color: var(--main--hover--button--color);
    color: var(--hover--text--color);
}
/* .menu-btn:focus{
    border: 1px solid var(--main--hover--button--color);
} */

.content {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-grow: 1;
    overflow: hidden;
    /* width: 100%; */
}


.items {
 /* display: grid;
 grid-template-columns: repeat(5, 1fr); */
 display: flex;
 flex-wrap: wrap;
    padding: 10px;
    overflow-x: scroll;
    background-color: var(--background--color);
    flex-grow: 1;
    width: auto;
    height: 100%h;
}


.item {
    width: 220px; /* Aumentei a largura para dar mais espaço ao conteúdo */
    height: 260px; /* Aumentei a altura para dar mais espaço ao conteúdo */
    margin: 15px; /* Aumentei o espaçamento entre os itens */
    padding: 15px; /* Adicionei padding para melhor espaçamento interno */
    background-color: var(--item--background--color, #fff); /* Usando variável CSS com valor padrão */
    border: 1px solid #ddd;
    border-radius: 10px; /* Aumentei o border-radius para uma aparência mais suave */
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aumentei a sombra para mais profundidade */
    font-size: 16px; /* Aumentei o tamanho da fonte para melhor legibilidade */
    transition: transform 0.3s, box-shadow 0.3s; /* Adicionei transições suaves */
}


.item:hover {
  transform: translateY(-5px);
    background-color: #f7f7f7;
}

.item img {
    width: 100%;
    height: 100px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;

}
.item span {
    display: block; /* Transformei em bloco para garantir que cada parte fique em uma linha separada */
    margin: 5px 0; /* Espaçamento entre os elementos de texto */
    color: #333; /* Usando variável CSS com valor padrão */
}

.item strong {
    display: block; /* Transformei em bloco para garantir que cada parte fique em uma linha separada */
    color: var(--main--button--color); /* Usando variável CSS com valor padrão */
    font-weight: bold;
    margin-top: 10px; /* Espaçamento superior para separar do restante do conteúdo */
}
.cart-header {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.header-btn {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.header-icons .icon-btn {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
}
.cart-header .barcode_input{
  padding: 10px;
  margin: 10px;
}
.cart {
    flex: 0 0 300px;
    background-color: var(--text--color);
    padding: 10px;
    border-left: 1px solid #ddd;
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    /* height: 100vh; */
}
#cart-items {
    overflow-y: scroll;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin: 10px 0;
  border-bottom: 1px solid #eee;
  background: var(--main--button--color);
  border-radius: 8px;
  color: var(--main--color);
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}
.cart-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.item-details {
  text-align: center;
  flex-grow: 1;
  margin-right: 10px;
}


.item-name {
  font-weight: bold;
}


.item-price {
  color: #000;
  font-weight: bold;
}


.remove-item {
  background: none;
  border: none;
  color: #d9534f;
  cursor: pointer;
  font-size: 18px;
}
.remove-item:hover{
  opacity: 0.4;
}

.cart h2 {
    margin-top: 0;
}

.cart-total {
    margin-top: auto;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.cart-total div {
    margin-bottom: 10px;
}

/* .remove-item {
    margin-left: 10px; 
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
} */

#hold-cart, #proceed {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

#hold-cart {
    background-color: #F97316; /* Laranja */
}

#hold-cart:hover, #proceed:hover {
    opacity: 0.8;
}
/* .container input{
    padding: 10px;
    border-radius: 6px;
    width: 300px;
    border: 1px solid #ddd;
}
.container .add_client_button{
    margin-top: 10px;
    padding: 10px;
    width: 50%;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
} */
.container .cliente_content{
    width: 100%;
    height: 100%;

}
.container .cliente-formulario {
    width: 80%;
    height:90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cliente-formulario label {
    display: block;
    margin-top: 20px;
}

.cliente-formulario input,
.cliente-formulario textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background: none;
}

.cliente-formulario button {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--main--button--color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cliente-formulario button:hover {
    background-color: var(--main--hover--button--color);
}

.cliente-formulario h2 {
    text-align: center;
    color: #333;
}
#add-client-btn {
  background-color: var(--main--button--color); /* Cor de fundo */
  color: var(--main--color); /* Cor do texto */
  border: none; /* Remove a borda padrão */
  padding: 8px 10px; /* Ajusta o padding para reduzir o tamanho */
  font-size: 14px; /* Ajusta o tamanho da fonte para um tamanho menor */
  border-radius: 5px; /* Arredonda os cantos do botão */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  transition: background-color 0.3s; /* Efeito de transição suave ao passar o mouse */
  
}

#add-client-btn:hover {
  background-color: var(--main--hover--button--color); /* Muda a cor de fundo ao passar o mouse */
}
  #customer-list table {
    border-collapse: collapse;

}

#customer-list th, #customer-list td {
  padding: 5px;
    border: 1px solid #ddd;

}

#customer-list th {
    background-color: #f4f4f4;
}

#customer-list td button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

#customer-list .edit-btn {
    background-color: #007bff;
    color: white;
}

#customer-list .delete-btn {
    background-color: #dc3545;
    color: white;
}
/* Container for the filter controls */
#filter-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espaço entre os elementos */
  padding: 20px 0; /* Espaço acima e abaixo dos controles */
  background-color: #f9f9f9; /* Cor de fundo */
  border-bottom: 1px solid #ddd; /* Linha separadora */
  width: 100%;
}

#filter-controls label,#filter-controls input,#filter-controls button {
  margin: 0 5px; /* Espaço ao redor dos elementos */
}
#filter-controls input{
  padding: 5px;
  border: 1px solid #111;
  width: 100px;
}
#filter-controls button {
  padding: 10px 20px; /* Tamanho do botão */
  background-color: var(--main--button--color); /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none; /* Remove a borda padrão */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  border-radius: 5px; /* Bordas arredondadas */
  width: 100px;
}

/* Estilos para o contêiner de compras */
#purchases-container {
  padding: 20px; /* Espaço interno */
  height: calc(100vh - 150px); 
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Estilos para cada compra */
.purchase {
  background-color: #f9f9f9; /* Cor de fundo das compras */
  margin-bottom: 20px; /* Espaço abaixo de cada compra */
  padding: 20px; /* Espaço interno das compras */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra suave */
}

.purchase h3,.purchase p {
  margin: 0 0 10px; /* Espaço abaixo dos títulos e parágrafos */
}

.purchase ul {
  list-style-type: none; /* Remove marcadores da lista */
  padding: 0; /* Remove o preenchimento padrão da lista */
}

.purchase li {
  margin-bottom: 5px; /* Espaço abaixo de cada item da lista */
}

/* Estilos para o indicador de carregamento e erro */
.loading,.error {
  text-align: center;
  padding: 20px;
  color: #666; /* Cor do texto */
}

.error {
  color: red; /* Cor do texto de erro */
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Caixa de login */
.login-box {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Estilo do título */
.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

/* Grupo de entrada */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

/* Estilo dos labels */
.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

/* Estilo dos inputs */
.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo do botão */
.login-container button {
    background-color: var(--main--button--color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
.login-container button:hover{
  background: var(--main--hover--button--color);
}


/* Button styling
button {
  background-color: #FC8019;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #e57017;
} */

/* Estilos para a página de login do administrador */
