/* style.css */

* {
  /* --main--color: #2C3E50; Azul Marinho */
  --main--color:#fff;
  /* --secundary--color: #34495E; Cinza Carvão */
  --secundary--color:#fff;
  --main--button--color: #1ABC9C; /* Verde Esmeralda */
  --main--hover--button--color: #FC8019; /* Verde Escuro */
  --accent--color: #F39C12; /* Amarelo Ouro */
  --background--color: #ECF0F1; /* Cinza Claro */
  --text--color: #FFFFFF; /* Branco */
  --hover--text--color: #d9dede; /* Cinza Escuro */
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: var(--background--color);
}
.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 100px;
    background-color: var(--secundary--color);
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar button {
    margin-bottom: 20px;
    padding: 20px;
    background-color: none;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
   
}
.sidebar .active {
    background-color:var(--main--hover--button--color); 
    color: white; 
}
.sidebar button:hover {
    background-color: var(--main--hover--button--color);
    color: var(--main--color);
}
.sidebar button .bx{
 font-size: 15pt;
}
.sidebar button:last-child{
    margin-top: 80%;
    background-color: red;
    color: white;
}
.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
/* Estilos para o Modal */
.modal {
  display: none; /* Por padrão, o modal está escondido */
  position: fixed; /* Fica na mesma posição, mesmo se a página rolar */
  z-index: 1; /* Deixa o modal acima de outros elementos */
  left: 0;
  top: 0;
  width: 100%; /* Tamanho completo */
  height: 100%; /* Tamanho completo */
  overflow: auto; /* Habilita rolagem se necessário */
  background-color: rgb(0,0,0); /* Fundo preto com transparência */
  background-color: rgba(0,0,0,0.4); /* Fundo preto com transparência */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Posiciona o modal no centro */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Largura do modal */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.header h1{
    margin: 0;
    margin-right: 20px;
}
.header input[type="search"]{
    padding: 10px;
    border-radius: 6px;
    width: 300px;
    border: 1px solid #ddd;
   
}
.header .search_container{
    margin-right: auto;
}
.header .search_container button{
    background: #fff; 
  color: #111; /* Cor do texto */
  border: none; /* Remove a borda padrão */
  padding: 10px 15px; /* Padding interno */
  text-align: center; /* Centraliza o texto */
  text-decoration: none; /* Remove sublinhado do texto */
  display: inline-block;
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  border-radius: 12px; /* Bordas arredondadas */
  transition-duration: 0.4s; /* Transição suave para hover */
}
.header .search_container button i{
    text-align: center;
     margin-right: 5px;
}

.header .search_container button:hover {
  background: var(--main--button--color);
  color: var(--main--color);
}
.header .wireless_widget{
    color: var(--main--button--color);
    background: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
    margin-right:3%;
    width: 5%;
}

.header .wireless_widget:hover{
    background: var(--main--button--color);
    color: var(--main--color);
    border-radius: 5px;
}
.menu {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--main--color);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.menu-btn {
    margin-right: 10px;
    padding: 10px;
    background-color: var(--main--button--color);
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    color: var(--text--color);
    height: 50px;
}

.menu-btn:hover {
    background-color: var(--main--hover--button--color);
    color: var(--hover--text--color);
}
.menu-btn:focus{
    border: 1px solid var(--main--hover--button--color);
}

.content {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.items {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    overflow-y: auto;
    background-color: var(--background--color);
    flex-grow: 1;
    width: 80%;
}

.item {
    width:200px;
    height: 200px;
    margin: 10px;
    /* padding: 10px; */
    background-color: var(--text--color);
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}

.item:hover {
    background-color: #f7f7f7;
}

.item img {
    width: 100%;
    height: 100px;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;

}
.cart-header {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.header-btn {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.header-icons .icon-btn {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-left: 5px;
  cursor: pointer;
}


.cart {
    background-color: var(--text--color);
    padding: 10px;
    border-left: 1px solid #ddd;
    width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}
#cart-items {
    overflow-y: scroll;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.item-details {
  flex-grow: 1;
}


.item-name {
  font-weight: bold;
}


.item-price {
  color: #000;
  font-weight: bold;
}


.remove-item {
  background: none;
  border: none;
  color: #d9534f;
  cursor: pointer;
  font-size: 18px;
}

.cart h2 {
    margin-top: 0;
}

.cart-total {
    margin-top: auto;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

.cart-total div {
    margin-bottom: 10px;
}

/* .remove-item {
    margin-left: 10px; 
    background-color: transparent;
    border: none;
    color: red;
    cursor: pointer;
} */

#hold-cart, #proceed {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
}

#hold-cart {
    background-color: #F97316; /* Laranja */
}

#hold-cart:hover, #proceed:hover {
    opacity: 0.8;
}
/* .container input{
    padding: 10px;
    border-radius: 6px;
    width: 300px;
    border: 1px solid #ddd;
}
.container .add_client_button{
    margin-top: 10px;
    padding: 10px;
    width: 50%;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 5px;
} */
.container .cliente_content{
    width: 100%;
    height: 100%;

}
.container .cliente-formulario {
    width: 80%;
    height:90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cliente-formulario label {
    display: block;
    margin-top: 20px;
}

.cliente-formulario input,
.cliente-formulario textarea {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background: none;
}

.cliente-formulario button {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--main--button--color);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cliente-formulario button:hover {
    background-color: var(--main--hover--button--color);
}

.cliente-formulario h2 {
    text-align: center;
    color: #333;
}